<!DOCTYPE html>
<html>
<head>
    <title>Movement Log</title>
</head>
<body>
    <h2>🧾 Movement Log for Cylinder: {{ cylinder.barcode }}</h2>

    <p>
        <b>Type:</b> {{ cylinder.cylinder_type }}<br>
        <b>Gas:</b> {{ cylinder.gas_type }}<br>
        <b>Size:</b> {{ cylinder.size }}<br>
        <b>Current Status:</b> {{ cylinder.status }}
    </p>

    <table border="1" cellpadding="5">
        <tr>
            <th>Timestamp</th>
            <th>Action</th>
            <th>Note</th>
        </tr>
        {% for m in movements %}
        <tr>
            <td>{{ m.timestamp.strftime('%Y-%m-%d %H:%M') }}</td>
            <td>{{ m.action }}</td>
            <td>{{ m.note }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/cylinders">⬅️ Back to All Cylinders</a>
</body>
</html>
